<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" />
    <customErrors mode="Off" />
    <sessionState timeout="480" />
  </system.web>
  
  <appSettings>
    <!--<add key="sConn" value="Data Source=WINDOWS7-VB\SQLEXPRESS;Initial Catalog=dbrct;User ID=dbrct;Password=FireResult01!" />-->
    <add key="sConn" value="Data Source=localhost;Initial Catalog=dbrct;User ID=dbrct;Password=FireResult01!" />
  </appSettings>
  
</configuration>