<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" />
    <customErrors mode="Off" />
    <pages validateRequest="false" />
  </system.web>
<connectionStrings>
  
</connectionStrings>
  <appSettings>
    <!--<add key="sConn" value="Data Source=dbbiab.db.8390327.hostedresource.com; Initial Catalog=dbbiab; User ID=dbbiab;Password=BiabResult01!" />-->
    <add key="sConn" value="Data Source=localhost; Initial Catalog=dbbiab; User ID=dbbiab;Password=BiabResult01!" />
  </appSettings>
</configuration>
